# dependencies
/node_modules
/.pnpm-store/

# testing
/coverage

# next.js
/.next/
/out/
/next-env.d.ts

# production and deployment
/build
/.open-next/
/.wrangler/
/.vercel/
/cloudflare-env.d.ts
/.dev.vars*
!/.dev.vars.example

# generated content
/.content-collections/
/public/search.json

# misc
.DS_Store

# debug
*.log
*.tsbuildinfo
npm-debug.log*
pnpm-debug.log*

# local env files
.env*
!.env.example
