# dependencies
/node_modules
/.pnpm-store/

# testing
/coverage

# Astro
/.astro/
/out/

# production and deployment
/.wrangler/
/cloudflare-env.d.ts
/.dev.vars*

# misc
.DS_Store

# debug
*.log
*.tsbuildinfo
npm-debug.log*
pnpm-debug.log*

# local env files
.env*
!.env.example
